body {
    font-family: Arial, sans-serif;
    background-color:lightblue;
    color;black;
}

header {
    background-color:ORANGE;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-weight: bold;
}

section {
    margin: 20px;
    background-color:WHITE;
}


table {
    width: 100%;
}

table, th, td {
    border: 1px solid;
    padding: 10px;
    text-align: left;
}

form {
    margin-top: 10px;
}

footer {
    background-color:LIGHTYELLOW;
    color:black;
    text-align: center;
    padding: 15px;
    position: relative;
    width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}

/* Optional: Make layout adjust for small screens */
@media (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 10px;
  }
}